

@model IEnumerable<LibraryManagementSystem.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h4>Available Books</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookGenre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookISBN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookCopies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableCopies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookGenre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookCopies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableCopies)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author.AuthorName)
                </td>
                <td>
                    @if(item.AvailableCopies==0)
                    {
                        <a asp-action="Borrow" asp-route-id="@item.BookID"  class="nav-link disabled" aria-disabled="true">Borrow</a>
                    }
                    else
                    {
                        <a asp-action="Borrow" asp-route-id="@item.BookID">Borrow</a>
                    }
                    


            </tr>
        }
    </tbody>
</table>
